* {
  padding: 0;
  margin: 0;
}
/* Simple CSS for a responsive container */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-sizing: border-box;
}

/* Media query for responsive adjustments */
@media (min-width: 640px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px; /* Adjust the maximum width for larger screens */
  }
}
